/* .delete-form {
    display: inline;
}

.back-button {
    margin-top: 10px;
}

.checked {
    color: orange;
}

#comment-owner {
    color: orange;
}

#camp-index {
    display: flex;
    flex-wrap: wrap;
}

html {
    position: relative;
    min-height: 100%;
    /* margin-top: 20px; */


/* body {
    margin: 40px 0;  
    /* bottom = footer height 
    padding: 25px;
    height: 100%;
}

.navbar .form-control {
    height: calc(2rem);
    border-radius: 1rem;
}

#index-cards .card-img-top {
    height: 180px;
}

.form-page {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-page label {
    margin-top: 0.5rem;
}

.form-page .checkbox {
    font-weight: 400;
}

.form-page .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 8px;
    font-size: 16px;
}

.form-page .form-control:focus {
    z-index: 2;
}

.form-page .first-field {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-page .middle-field {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-page .last-field {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-deck .card:hover {
    transform: scale(1.02);
}

.show-like button {
    font-size: medium;
}

.show-like a {
    font-size: medium;
}

#profile-picture {
    border: 1rem;
    width: 125px;
    height: 125px;
    border-color: antiquewhite;
}
.media img {
    width: 250px;
    height: 150px;
}

#yelpcamp-footer {
    background-color: #f5f5f5;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
} */ 

body {
  background-image: url('bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  transition: all 0.2s;
}

a:hover,
a:focus {
  color: #000000;
  transition: all 0.2s;
}

html {
  height: 100%;
}

.login-card {
  padding: 32px 32px 0;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: flex;
  height: 100%;
  max-height: 740px;
  max-width: 350px;
  flex-direction: column;
}

.login-card-content {
  flex-grow: 2;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login-card-footer {
  padding: 32px 0;
}

h2 .highlight {
  color: #fdc654;
}

h2 {
  font-size: 32px;
  margin: 0;
}

h3 {
  color: black;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.header {
  margin-bottom: 50px;
}

.logo {
  border-radius: 40px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto 16px;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
}

button {
  background: white;
  display: block;
  color: #d61e2d;
  width: 100%;
  border: none;
  border-radius: 40px;
  padding: 12px 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 32px;
  outline: none;
}

.form-field {
  margin-bottom: 16px;
  width: 100%;
  position: relative;
}

.form-field .icon {
  position: absolute;
  background: white;
  color: #d61e2d;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 40px;
  height: 40px;
  justify-content: center;
  border-radius: 20px;
}

.form-field .icon:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left: 12px solid white;
  position: absolute;
  top: 8px;
  right: -20px;
}

.form-field input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  width: 100%;
  border-radius: 16px;
  height: 36px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  transition: all 0.2s;
}

.form-field input::placeholder {
  color: white;
}

.form-field input:hover,
.form-field input:focus {
  background: white;
  color: #d61e2d;
  transition: all 0.2s;
}

.form-field input:hover::placeholder {
  color: #d61e2d;
}
